[Unit]
Description=mining-lbry-ccminer-alt
After=network.target

[Service]
Type=simple
User=mining
WorkingDirectory=/home/mining
ExecStart=/home/mining/lbry-ccminer-alt.sh
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
