# {{ ansible_managed }}

# Common parameters
# All the parameters here are similar to the command line arguments

[common]
cuda_devices {{ mining_devices_zec }}
intensity    64 64 64 64 64 64
templimit    85
pec          0
boff         0
eexit        0
tempunits    c
log          0
logfile      /home/miner/zec-miner/miner.log
api          127.0.0.1:42000

# The miner start work from this server
# When the server is fail, the miner will try to reconnect 3 times
# After three unsuccessful attempts, the miner will switch to the next server
# You can add up to 8 servers

# main server
[server]
server us1-zcash.flypool.org
port   3333
user   {{ mining_address_zec }}.{{ mining_device_name }}
pass   x
